.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 130%;
}


.footer
{
  background-color: rgba(11, 193, 196, 0.552);
  color: white;
  width: 100vw; 
  height: 3.7vh;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.footerText
{
  margin-top: 0;
}


.homeBody
{
  width: 100vw; 
  height: 90vh;
  position: center; 
}

.resumeHeader
{
  font-family:fantasy;
  background-color: rgba(255, 183, 0, 0.598);
  margin: 1.5vw;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.3vw;
  padding-top:1vw;
}

.resumeBody
{
  background-color: beige;
  position: relative;
  padding-bottom: 7vh;
}

.aboutHeader
{
  font-family:fantasy;
  background-color: rgba(255, 183, 0, 0.598);
  margin: 1.5vw;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.3vw;
  padding-top:1vw;

}

.aboutBody
{
  background-color: beige;
  position: relative;
  padding-bottom: 37vh;
}

.aboutText
{
  margin: 5%;
}

.contactHeader
{
  font-family:fantasy;
  background-color: rgba(255, 183, 0, 0.598);
  margin: 1.5vw;
  border-radius: 10px;
  font-size: 3vw;
  padding: 0.3vw;
  padding-top:1vw;
}

.contactText
{
  margin: 5%;
}

.contactBody
{
  background-color: beige;
  position: relative;
  padding-bottom: 54vh;
}



